
/*selector
{
   property: value;
}*/
h3{
    background-color: burlywood;
    color:aliceblue;
    text-align:center;
}

p{
    color:white;
    background-color: rgb(47, 179, 137);
    text-align:left;
}

body{
    background-color: rgb(1, 22, 16);
}


/*class selector*/
.point{

    background-color:rgb(54, 68, 176);
}

.subheader{
    color:rgb(166, 158, 158);
    text-align:center;
}