
/*selector
{
   property: value;
}*/
h3{
    background-color: burlywood;
    color:aliceblue;
    text-align:center;
}

p{
    color:white;
    background-color: rgb(47, 179, 137);
    text-align:left;
}

/* body{
    background-color: rgb(7, 9, 9);
} */


/*class selector*/
.point{

    background-color:rgb(54, 68, 176);
    padding-top:50px;
    padding-right:40px;
    padding-bottom:10px;
    padding-left:20px;
}

.subheader{
    color:rgb(166, 158, 158);
    text-align:center;
    padding:50px;

    border: 10px solid black;
    border-radius:50px;
    border-style: dashed;
}

/*id selector we use create unique id for each element*/
#para-2{

    background-color:rgb(105, 14, 88);
    padding:20px 40px 20px 40px;  /*anticlock wise */
}

/*universal selector

*{


    margin:0;
    padding:0;
}
*/
.aboutheader{

    color:white;
    background-color:rgb(24, 130, 24);
    font-family: monospace;
    font-size:xx-large;
    text-align:center;
    letter-spacing: 1cap;
    text-decoration: underline double;
}

